<section class="about-us container">
    <h2 class="title">About Us</h2>
    <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        fxLayout.lt-md="column"
        fxLayoutGap.lt-md="2rem"
    >
        <div
            class="description"
            fxFlex="40"
            fxLayout="column"
            fxLayoutAlign="default start"
            fxLayoutGap="2rem"
        >
            <div class="item">
                <h3>1.How We Make Our Applications?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Similique quam asperiores placeat! Minima itaque minus ipsa
                    labore corporis aperiam a voluptatum fugit quos quaerat
                    dicta fugiat adipisci, ipsam asperiores? Cum.
                </p>
            </div>
            <div class="item">
                <h3>2.What Software We Use?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Similique quam asperiores placeat! Minima itaque minus ipsa
                    labore corporis aperiam a voluptatum fugit quos quaerat
                    dicta fugiat adipisci, ipsam asperiores? Cum.
                </p>
            </div>
            <div class="item">
                <h3>3.Why We Create Content?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Similique quam asperiores placeat! Minima itaque minus ipsa
                    labore corporis aperiam a voluptatum fugit quos quaerat
                    dicta fugiat adipisci, ipsam asperiores? Cum.
                </p>
            </div>
        </div>
        <div class="img-wrapper" fxFlex="40">
            <img src="..//..//..//assets/about-us.svg" alt="About us picture" />
        </div>
    </div>
</section>

<section class="about-team container">
    <h2 class="title">About Team</h2>
    <app-about-card-list></app-about-card-list>
</section>
