.container {
    padding: 3% 5%;
    min-height: 100vh;
}

.container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.category {
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
}

table {
    width: 100%;
}

.mat-header-cell {
    color: #333;
    font-size: 1.1rem;
}

.mat-cell {
    color: #666;
}

.table-row-element {
    transition: background 0.35s ease;
}

.table-row-element:hover {
    outline: none;
    cursor: pointer;
    background: #eee;
}

.table-row-element:focus {
    outline: none;
}
