<mat-card *ngIf="comment">
    <h3>{{ comment.author }}</h3>
    <p class="date">
        {{ +comment.createdOn["seconds"] * 1000 | date: "short" }}
    </p>

    <p class="body">{{ comment.body }}</p>
    <div class="buttons" fxLayoutGap="1rem">
        <ng-template [ngIf]="currentUser?.username === comment.author">
            <button (click)="editComment()" mat-raised-button>
                Edit comment
            </button>
            <button (click)="deleteComment()" mat-raised-button>
                Delete comment
            </button>
        </ng-template>
    </div>
</mat-card>
